[project]
name = "{{.Name}}"
module = "{{.Module}}"
# version = "0.1.0"

[database]
# url = "postgres://localhost:5432/{{.Name}}?sslmode=disable"

[tools]
# templ_version = "0.2.793"
# sqlc_version = "1.27.0"
# tailwind_version = "3.4.17"
# atlas_version = "0.29.0"

[server]
# port = 3000
# host = "localhost"
